{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid p-5 bg-black border text-light my-5">
    <h1 class="display-4">Contact Us</h1>
    <code class="lead">https://visvasrk001.onrender.com/ | Visit Below</code><br>
    <a href="https://visvasrk001.onrender.com/" class="btn btn-outline-success btn-sm">Visvasrk001</a>

</div>

<div class="card bg-nightshade text-light">
	<div class="card-header">
		<h1 class="card-title display-6"> Descriptional Data </h1>
	</div>
  <div class="card-body">
    <p class="card-text lead">This is a prototype build website, which is used for learning and sharing of informations.</p>
    <p class="card-text lead">Framework 221E is an idea for intelligence community, a protobuild for a bigger international intelligence agency, capable of creating alternate realities, superior data and information control alongside with paramilitary and tactical security forces with advanced technologies forsoever in the world.</p>
  </div>
</div>

{% endblock %}
