{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid p-5 bg-black border text-light my-5">
    <h1 class="display-4">Framework 221E</h1>
    <code class="lead">This is a framework prototype build for learning new skills, as a part of skill escalation program.</code>
    <a href="{{ url_for('about') }}" class="btn btn-primary btn-lg">Learn More</a>
</div>
<div class="container-fluid p-5 bg-nightshade text-light my-5">
    <h1 class="display-6">Motto : </h1>
    <code class="lead">Everything has some value. The value of humans is nothing but to saveguard the planet Earth, from ourselfs,
    foster natural services and upliftment of the ecosystem.</code><hr>
    <h5>But !!!</h5><br>
    <p class="lead text-success">The weapons of secrecy has no place in an ideal world and the world today is <b>non ideal</b>. This platform provides the like minded people a forum of open knowledge information and responsibilities.</p>
</div>

{% endblock %}
