{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container-fluid p-5 bg-black text-light my-5 border">
    <h1 class="display-4">About Us</h1>
    <code class="lead">This is a prototype build for framework 221E.</code><br>
    <a href="{{ url_for('home') }}" class="btn btn-primary btn-lg">Home</a>
</div>

<div class="card my-5 bg-dark text-light">
  	<div class="card-header">
	    <h3 class="card-title">Discriptional Data</h3>
    </div>
  <div class="card-body">
    <p class="card-text lead">This is a prototype build website, which is used for learning and sharing of informations.</p>
    <p class="card-text lead">Framework 221E is an idea for intelligence community, a protobuild for a bigger international intelligence agency, capable of creating alternate realities, superior data and information control alongside with paramilitary and tactical security forces with advanced technologies forsoever in the world.</p>
  </div>
</div>

{% endblock %}
