{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid p-5 bg-black text-light my-5">
    <h1 class="display-4">Contact Us</h1>
    <code class="lead">framework@221e.support.com</code><br>

</div>

<div class="card">
  <div class="card-body">
    <h3 class="card-title">Discriptional Data</h3>
    <p class="card-text">This is a prototype build website, which is used for learning and sharing of informations.</p>
    <p class="card-text">Framework 221E is an idea for intelligence community, a protobuild for a bigger international intelligence agency, capable of creating alternate realities, superior data and information control alongside with paramilitary and tactical security forces with advanced technologies forsoever in the world.</p>
  </div>
</div>

{% endblock %}
